@using FoodJournal.BlazorApp.Components.Journal.Models

<article class="p-3 lg:rounded-lg lg:bg-stone-950 lg:p-6 lg:ring-1 lg:shadow-xs lg:ring-white/10">
    <div class="flex justify-between">
        <h3 class="font-bold">@MealType</h3>        
        <button class="flex items-center cursor-pointer rounded-full p-1 text-cyan-400 hover:bg-white/15" onclick="@ToggleShow">
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>

    <AddMeal Show="@Show" JournalDate="@MealDate" JournalMealType="@MealType" AvailableFoods="@AvailableFoods" AvailableMeals="@AvailableMeals" OnAddMeal="HandleAddJournalMeal" />

    @if (MealFoods is null)
    {
        <LoadingSpinner />
    }
    else
    {
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-stone-50 border-separate border-spacing-y-2">
                <tbody>
                    @foreach (var food in MealFoods)
                    {
                        <tr class="hover:bg-white/3">
                            <td scope="row" class="rounded-l-lg">
                                <div class="flex gap-3 items-center">
                                    <img src="@food.Base64Image" alt="@food.Name" />
                                    <span class="font-medium text-white whitespace-nowrap">@food.Name</span>
                                </div>
                            </td>
                            <td class="rounded-r-lg">
                                <button class="flex items-center justify-self-end cursor-pointer rounded-full p-1 text-cyan-400 hover:bg-white/15 self-end" onclick="@(() => ShowConfirmation(food.Id))">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (ShowConfirmationModal)
        {
            <DeleteConfirmationModal Title="Delete food journal entry?"
                                     Message="Do you really want to delete this food from your journal?"
                                     OnCancel="HideConfirmation"
                                     OnClose="HideConfirmation"
                                     OnConfirm="HandleDeleteJournalMealFood" />
        }
    }
</article>

@code {
    [Parameter]
    public IEnumerable<Food>? AvailableFoods { get; set; }

    [Parameter]
    public IEnumerable<QuickMeal>? AvailableMeals { get; set; }

    [Parameter]
    public MealType MealType { get; set; }

    [Parameter]
    public DateTime MealDate { get; set; }

    [Parameter]
    public IEnumerable<Food>? MealFoods { get; set; }

    [Parameter]
    public EventCallback<CreateJournalMealDto> OnAddJournalMeal { get; set; }

    [Parameter]
    public EventCallback<DeleteJournalMealFoodDto> OnDeleteJournalMealFood { get; set; }

    private bool Show { get; set; } = false;
    private bool ShowConfirmationModal = false;
    private Guid? DeletionCandidate = null;

    private void ToggleShow()
    {
        Show = !Show;
    }

    private async Task HandleAddJournalMeal(CreateJournalMealDto createMeal)
    {
        await OnAddJournalMeal.InvokeAsync(createMeal);

        ToggleShow();
    }

    private async Task HandleDeleteJournalMealFood()
    {
        if (DeletionCandidate != null)
        {
            var deleteMealMood = new DeleteJournalMealFoodDto
            {
                Date = MealDate,
                Type = MealType,
                FoodId = DeletionCandidate.Value,
            };
        
            await OnDeleteJournalMealFood.InvokeAsync(deleteMealMood);
        }

        ShowConfirmationModal = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ShowConfirmation(Guid foodId)
    {
        DeletionCandidate = foodId;
        ShowConfirmationModal = true;
        await InvokeAsync(StateHasChanged);
    }

    private async Task HideConfirmation()
    {
        DeletionCandidate = null;
        ShowConfirmationModal = false;
        await InvokeAsync(StateHasChanged);
    }
}
